<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>拾光影院</title>
    {load href="/tp5/public/static/css/base.css"}
    {load href="/tp5/public/static/css/index.css"}
    {load href="/tp5/public/static/css/swiper.min.css"}
    <style>
        .content .nav{
            display: flex;
            justify-content: flex-start;
        }
        .content .nav li{
            margin-top: 15px;
            padding: 15px;
            border-bottom: 2px solid rgba(0,0,0,0);
            cursor: pointer;
        }
        .content .nav li.actived{
            border-bottom-color: #ff318c;
            color: #ff318c;
        }
        .order{
            width: 100%;
            margin-top: 20px;
        }
        .order thead tr{
            line-height: 40px;
            background: #f5f5f5;
        }
        .order tbody tr{
            line-height: 40px;
        }
        .order tbody tr td{
            text-align: center;
        }
        .cancel{
            display: none;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="top_header">
        我是电影首页
    </div>
    <div class="type_header">
        <div class="type_header_box">
            <ul class="type_menu">
                <li class="selected"><a href="http://localhost/tp5/public/index.php/index/index/index">首页</a></li>
                <li><a href="http://localhost/tp5/public/index.php/index/movies/index">影片</a></li>
            </ul>
            <div class="front_login">
                <a href="{:url('admin/index/index')}">后台管理系统</a>
                {if condition="empty($Think.session.frontUsername)"}
                <a href="{:url('login/index')}">登录</a>
                {else/}
                <div class="loginInfo">
                    <a href="javascript:void(0);"><span>&#xe69d;   </span>{$Think.session.frontUsername}</a>
                    <div class="loginInfoList">
                        <div class="loginInfoListSon"><a href="{:url('order/index')}">我的订单</a></div>
                        <div class="loginInfoListSon"><a href="{:url('login/logout')}">退出</a></div>
                    </div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
<div class="content" style="width: 1200px;margin: auto;">
    <ul class="nav">
        <li class="actived" data-status="1">已完成订单</li>
        <li data-status="2">退订订单</li>
    </ul>
    <table class="completed order">
        <thead>
            <tr>
                <th>订单id</th>
                <th>电影</th>
                <th>数量</th>
                <th>总价</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody class="body">

        </tbody>
    </table>
    <table class="cancel order">
        <thead>
        <tr>
            <th>订单id</th>
            <th>电影</th>
            <th>数量</th>
            <th>总价</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody class="body">

        </tbody>
    </table>
</div>
{load href="/tp5/public/static/js/jquery.js"}
<script>
    $('.list_content').hover(function(){
        $('.list_content').removeClass('actived');
        $(this).addClass('actived');
    }, function(){
        $('.list_content').removeClass('actived');
    })
    function changeOrderStatus(type){
        var data = {
            status: type
        }
        $.ajax({
            url: "{:url('order/show')}",
            type: 'post',
            data: data,
            success: function(res){
                console.log(res)
                if (res.code === 200) {
                    var str='';
                    if(type === 1){
                        if(res.data.data.length > 0) {
                            res.data.data.map(function (item) {
                                str += '<tr><td>'+item.id+'</td><td>' + item.mName + '</td><td>' + item.ticketNum + '</td><td>' + item.price + '</td><td>已完成</td><td><a href="javascript:void(0);" onclick="cancelOrder(' + item.id + ')">退票</a></td></tr>'
                            })
                        } else {
                            str += '<tr><td colspan="4">暂无数据</td></tr>'
                        }
                        $('.completed .body').html(str)
                    } else {
                        if (res.data.data.length > 0) {
                            res.data.data.map(function (item) {
                                str += '<tr><td>'+item.id+'</td><td>' + item.mName + '</td><td>' + item.ticketNum + '</td><td>' + item.price + '</td><td>未完成</td></tr>'
                            })
                        } else {
                            str += '<tr><td colspan="4">暂无数据</td></tr>'
                        }
                        $('.cancel .body').html(str)
                    }
                }
            }
        })
    }
    changeOrderStatus(1)
    $('.nav').on('click','li',function () {
        $('.nav li').removeClass('actived');
        $(this).addClass('actived');
        if ($(this).data('status') === 1) {
            $('.completed').show()
            $('.cancel').hide()
        } else {
            $('.completed').hide()
            $('.cancel').show()
        }
        changeOrderStatus($(this).data('status'));
    })
    function cancelOrder(id, type) {
        $.ajax({
            url: "{:url('order/delete')}",
            type: 'get',
            data: {id: id},
            success: function(res){
                changeOrderStatus(1)
                console.log(res)
            }
        })
    }
</script>
</body>
</html>