<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {load href="/tp5/public/static/css/base.css"}
    {load href="/tp5/public/static/css/index.css"}
    {load href="/tp5/public/static/css/bootstrap.min.css"}
</head>
<body>
<div class="page page2 table-responsive">
    <form action="{:url('Order/show')}" class="form-inline marginBottom" method="post">
        <div class="form-group">
            <label for="status">订单类型：</label>
            <select name="status" id="status" class="form-control" value="0">
                <option value="0">全部</option>
                <option value="1">已完成订单</option>
                <option value="2">已取消订单</option>
            </select>
        </div>
        {if condition="!empty($searcharr['status'])"}
        <a href="{:url('Order/show')}" class="btn btn-default nomarginLeft">撤销</a>
        {/if}
        <button type="submit" class="btn btn-default nomarginLeft">查询</button>
    </form>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>影片名</th>
            <th>票数</th>
            <th>票钱</th>
            <th>座位号</th>
            <th>排期</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        {if condition="!empty($data)"}
        {volist name="data" id="value"}
        <tr>
            <td>{$value['id']}</td>
            <td>{$value['mName']}</td>
            <td>{$value['ticketNum']}</td>
            <td>{$value['price']}</td>
            <td width="300">{$value['seatNum']}</td>
            <td>{$value['date']} {$value['time']}</td>
            <td width="150">{$value['createTime']|date="Y-m-d H:i:s",###}</td>
            <td width="150">
                {if condition="$value['status'] === 1"}
                <a class="btn" href="{:url('Order/delete')}?id={$value['id']}">退订</a>
                {/if}
            </td>
        </tr>
        {/volist}
        {else /}
        <tr>
            <td colspan="3">暂无数据~~~~</td>
        </tr>
        {/if}
    </table>
    {$data->render()}
</div>
</body>
{load href="/tp5/public/static/js/jquery.js"}
{load href="/tp5/public/static/js/bootstrap.min.js"}
</html>